{%- load_yaml as server_defaults %}
default:
  pkgs:
  - logrotate
  config_dir: /etc/logrotate.d
  config: /etc/logrotate.conf
  global_conf:
    compress: false
    rotate: weekly
    keep_rotate: 4
    dateext: false

RedHat:
  pkgs:
  - logrotate
  config_dir: /etc/logrotate.d
  config: /etc/logrotate.conf
  global_conf:
    compress: true
    rotate: weekly
    keep_rotate: 4
    dateext: true

{%- endload %}

{%- set server = salt['grains.filter_by'](server_defaults, merge=salt['pillar.get']('logrotate:server')) %}

